# Dependencies
node_modules/
.pnp/
.pnp.js
.yarn/install-state.gz

# Testing
coverage/

# Next.js build output (applies to expireds/expireds)
**/.next/
**/out/

# Production builds
build/

# Misc
.DS_Store
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env
.env.*
.env*.local

# Vercel
.vercel/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Project notes
xnotes.txt
